@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-primary {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


/* shire-items */
.flex {
    display: flex;
}

/* header-area */
.header-area {
justify-content: space-between;
    align-items: center;

}


.navigation-area ul li {
    list-style: none;



}

.navigation-area li a {
    text-decoration: none;
    margin-right: 15px;
}